<ng-container class="task-item">
  <span class="task-index" mat-line>{{ _priority.priority + _priority.index }}</span>
  <span *ngIf="!isEditing" mat-line class="task-text" (click)="editTask()">
    {{ _priority.task }}
  </span>
  <input
    *ngIf="isEditing"
    type="text"
    [(ngModel)]="_priority.task"
    class="task-edit-input"
    (blur)="saveTask()"
    (keydown.enter)="saveTask()"
    (keydown.escape)="cancelEdit()"
    autofocus
  />
  <span class="task-actions">
          <mat-checkbox [(ngModel)]="isCompleted" (change)="updateTask(_priority)"></mat-checkbox>
    <button mat-icon-button color="primary" (click)="editPriority()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="deleteTask(_priority)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>

</ng-container>
