<mat-card class="priority-card">
  <div class="priority-header">
    <div class="priority-title">{{ priorityTitle }}</div>
    <div class="priority-count">{{ priorities.length }}</div>
  </div>

  <mat-card-content>
    <div *ngFor="let priority of priorities; let i = index" class="priority-item">
      <app-priority [priority]="priority"></app-priority>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="priorities.length < maxTasks" class="add-button">
    <button mat-raised-button
            color="primary"
            (click)="openTaskPopup()"
    >+</button>
  </mat-card-actions>
</mat-card>
