<mat-card class="priority-card">
  <mat-card-header>
    <mat-card-title>{{priorityTitle}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let priority of priorities; let i = index" class="priority">
      <app-priority [priority]="priority"></app-priority>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            (click)="openTaskPopup()"
            [disabled]="priorities.length >= maxTasks"
    >+</button>
  </mat-card-actions>
</mat-card>
