<mat-card class="task-card" mat-elevation="4">
  <mat-card-title>
    <span>{{_priorityTitle}}</span>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let priority of _priorities; let i = index">
        <app-priority-item class="priority-item" [_priority]="priority" (taskDeleted)="deleteTask($event)" (taskUpdated)="updateTask($event)"></app-priority-item>
      </mat-list-item>
    </mat-list>
    <button
      mat-fab
      color="warn"
      class="add-button"
      *ngIf="_priorities.length < _maxPriorities"
      (click)="addTask()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
