.task-card {
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.task-index {
  width: 40px; /* Fixed width for index */
  font-weight: bold;
  text-align: center;
}

.task-text {
  flex: 1;
  margin: 0 16px;
  cursor: pointer;
  text-overflow: ellipsis; /* Handle long text */
  white-space: nowrap;
  overflow: hidden;
}

.task-actions {
  display: flex;
  gap: 8px;
}

.add-button {
  display: block;
  margin: 16px auto;
}

.custom-dialog-container {
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
