<mat-card class="task-card" mat-elevation="4">
  <mat-card-title>
    <span>First Priority</span>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let priority of _priorities; let i = index">
        <span mat-line>{{ priority.id }}</span>
        <span mat-line class="task-text" (click)="editTask(priority)">
          {{ priority.task }}
        </span>
        <span class="task-actions">
          <button mat-icon-button (click)="completeTask(priority)">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(priority)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-list-item>
    </mat-list>
    <button
      mat-fab
      color="primary"
      class="add-button"
      *ngIf="_priorities.length < _maxPriorities"
      (click)="addTask()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
