.task-card {
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-list-item {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.priority-item {
  display: flex; /* Ensure flex behavior is applied here */
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.add-button {
  display: block;
  margin: 16px auto;
}

.custom-dialog-container {
  border-radius: 8px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
