<div class="dialog-container">
  <h2 mat-dialog-title>{{ _dialogBoxTitle }}</h2>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <mat-form-field class="multi-line-textarea" appearance="fill">
      <ng-container>
        <mat-label>Task</mat-label>
        <textarea matInput [(ngModel)]="task"></textarea>
      </ng-container>
    </mat-form-field>
    <ng-container class="date-picker">
      <ng-container class="start-picker">
        <mat-form-field class="start-date-picker">
          <mat-label>Choose start date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="_startDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="start-time-picker">
          <mat-label>Pick start time</mat-label>
          <input matInput
                 [matTimepicker]="startTimepicker"
                 [(ngModel)]="_startTime"
                 [ngModelOptions]="{updateOn: 'blur'}">
          <mat-timepicker #startTimepicker/>
          <mat-timepicker-toggle [for]="startTimepicker" matSuffix/>
        </mat-form-field>
      </ng-container>
      <ng-container class="end-picker">
        <mat-form-field class="end-date-picker">
          <mat-label>Choose end date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="_endDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="end-time-picker">
          <mat-label>Pick end time</mat-label>
          <input matInput
                 [matTimepicker]="endTimePicker"
                 [(ngModel)]="_endTime"
                 [ngModelOptions]="{updateOn: 'blur'}">
          <mat-timepicker #endTimePicker/>
          <mat-timepicker-toggle [for]="endTimePicker" matSuffix/>
        </mat-form-field>
      </ng-container>
      <button matTooltip="save scheduler"
        mat-fab
        color="warn"
        class="add-button"
              [disabled]="!allFieldsFilled()"
        (click)="saveSchedule()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </ng-container>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Close</button>
    <button mat-raised-button color="primary" (click)="saveTask()" [disabled]="!task">
      Save
    </button>
  </mat-dialog-actions>
</div>
