.dialog-container {
  padding: 16px;
  max-width: 100%;
}

mat-form-field.task-input {
  width: 100%;
}


.multi-line-textarea {
  width: 100%; /* Ensures the textarea spans the full width of the dialog */
}

textarea {
  resize: both; /* Prevent manual resizing for consistent UI */
  line-height: 1.5; /* Improve readability */
  font-size: 16px; /* Match Material Design typography */
}

.date-picker {
  display: flex;
  align-items: center;
}

.start-picker, .end-picker {
  display: inline-block;
  //grid-template-columns: 1fr 1fr; /* Align start date and time, and end date and time side by side */
  gap: 16px; /* Adjust the gap between fields */
}

